[data-theme="dark"] {
    --primary-color: #111111;
    --secondary-color: #343434;
    --background-color: #0a0908;
    --header-bg-color: #111111;
    --font-primary-color: #ffff;
    --font-secondary-color: #ffff;
}
